In [1]:
age = 18 # 年齢

if age < 20 :
  # 未成年の場合
  print("ジュースで乾杯!")
else:
  # 成年の場合
  print("お酒で乾杯！")

ジュースで乾杯!

In [2]:
print( 45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [3]:
print(type(30 / 3))

<class 'float'>

In [4]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [5]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

今日の天気は晴れ
今日の天気は曇り

In [6]:
print("晴れ"*5)

晴れ晴れ晴れ晴れ晴れ

In [8]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [10]:
number1 = 5
number2 = 2.5
print(number1 + number2)

last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [13]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [19]:
user_names = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
print(user_names[1])
print(user_names)
user_names[1] = "侍花子"
print(user_names[1])
user_names.append("侍五郎")
print(user_names)
user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎']
侍花子
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [30]:
upper = 10
bottom = 20
height = 5
answer = (upper + bottom) * height / 2
print(str(answer)+"cm²")

75.0cm²